@import "tailwindcss";

:root {
  --background: #f6f3e8;
  --foreground: #231f20;

  --theme-bg: var(--background);
  --theme-fg: var(--foreground);
}

[data-theme="night"] {
  --theme-bg: #0a0a0a;
  --theme-fg: #f6f3e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-playfair: var(--font-playfair);
  --font-instrument-sans: var(--font-instrument-sans);
  --font-cormorant-garamond: var(--font-cormorant-garamond);

  /* New Palette */
  /* Main */
  --color-main-white: #ffffff;
  --color-main-black: var(--theme-fg);
  --color-main-grey: #cccccc;

  /* Backgrounds */
  --color-bg-black: #000000;
  --color-bg-cream: #f6f3e8;
  --color-theme-bg: var(--theme-bg);
  --color-theme-fg: var(--theme-fg);

  /* Accents */
  --color-accent-cream: #fffdf5;
  --color-accent-bronze: #d2926e;

  /* Secondary */
  --color-sec-gold: #c9ab6a;
  --color-sec-beige: #c5bdb6;
  --color-sec-light-gold: #d8ab71;
  --color-sec-dark-grey: #777470;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f3e8;
    --foreground: #231f20;
  }
}

body {
  background: var(--theme-bg);
  color: var(--theme-fg);
  cursor: none;
  transition: background 1.5s ease-in-out, color 1s ease-in-out;
}

/* Hide default cursor globally */
*,
*::before,
*::after,
a,
button,
[role="button"],
input,
textarea,
select {
  cursor: none !important;
}

/* Custom class for 3D transforms */
.perspective {
  perspective: 1000px;
  /* Adjust the value for desired 3D depth */
  display: flex;
  /* Important to contain the image properly */
  align-items: center;
  justify-content: center;
}

/* Utility to ensure 3D is respected inside the image */
.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Custom Loading Animation */
@keyframes progress-line {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-progress-line {
  animation: progress-line 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

/* Sound Wave Animation */
@keyframes sound-wave {
  0% {
    height: 4px;
  }

  50% {
    height: 16px;
  }

  100% {
    height: 4px;
  }
}