@import "tailwindcss";

:root {
  --background: #F6F3E8;
  --foreground: #F6F3E8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-playfair: var(--font-playfair);
  --font-instrument-sans: var(--font-instrument-sans);
  --font-cormorant-garamond: var(--font-cormorant-garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F3E8;
    --foreground: #F6F3E8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}